#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* header */
nav a {
    text-align: center;
    padding: 55px;
    color: #A1B3B1;
    text-decoration: none;
    font-size: 1.5em;
}

header {
    background-color: #005866;
    color: #000000;
    display: grid;
    grid-template-columns: 150px auto;
    height: 125px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #A1B3B1;
    color: #000000;
    height: 15px;
}

.logo {
    height: 125px;
}







/* footer */
footer {
    background-color: #005866;
    color: #000000;
    padding: 15px 5px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

footer h3 {
    color: #000000;
    font-family: IM Fell French Canon SC;
}

footer a {
    color: #A1B3B1;
    text-decoration: none;
    font-family: IM Fell French Canon SC;
}

footer a:hover {
    color: #000000;
    text-decoration: underline;
}