#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* header */
nav a {
    text-align: center;
    padding: 77px;
    color: #A1B3B1;
    text-decoration: none;
    font-size: 2em;
}

header {
    background-color: #005866;
    color: #000000;
    display: grid;
    grid-template-columns: 150px auto;
    height: 180px;
    font-family: "IM Fell French Canon SC";
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #A1B3B1;
    color: #000000;
    height: 180px;
}

.logo {
    height: 180px;
}

/* body */
#hero-msg h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 70px;
    font-family: "IM Fell French Canon SC";
}

p {
    text-align: center;
    font-size: 30px;
    font-family: "Lato", "Helvetica", sans-serif;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: center;
  }
  
  .container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 50px;
    margin-top: 350px;
    color: #000000;
    font-weight: bold;
    font-size: 70px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    display: block;
    margin-left: 1450px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #67A3BB;
    color: white;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #A1B3B1;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 650px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #67A3BB;
    padding: .5px 16px;
    color: #000000;
    font-size: 30px;
    font-family: "Lato", "Helvetica", sans-serif;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 18 columns side by side */
  .column {
    float: left;
    width: 5.55%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }




/* footer */
footer {
    background-color: #005866;
    color: #000000;
    padding: 15px 5px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

footer h3 {
    color: #000000;
    font-size: 2.5em;
    font-family: "IM Fell French Canon SC";
    border: #000000 solid 5px;
}

footer a {
    color: #A1B3B1;
    font-size: 1.5em;
    text-decoration: none;
    font-family: "IM Fell French Canon SC";
}

footer a:hover {
    color: #000000;
    text-decoration: underline;
}