
nav {
    background-color: pink;
    color: pink;
    padding: 10px;
}
a hover {
    color: steelblue;
    background-color: white;
    margin: 40px;

}
h1 {
    text-align: center; steelblue;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
p {
    padding: 10px;
}
footer { 
    #active {   
    background-color: steelblue;
    color: white;
    padding: 10px;
}
.main-para {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}